<h2>User Form</h2>
<form class="col-md-8" #userform="ngForm" (ngSubmit)="onSubmit(userform.value)">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" required minlength="6" #name="ngModel" ngModel/>
        <div *ngIf="name.errors &&(name.dirty||name.touched)" class="alert alert-danger">
            <div [hidden]="!name.errors.required">
                Name is required
            </div>
            <div [hidden]="!name.errors.minlength">
                Name must be at least 6 characters
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" name="email" required #email ngModel/>
    </div>
    <div ngModelGroup="Adress">
        <div class="form-group">
            <label>Street</label>
            <input class="form-control" type="text" name="street" required #street ngModel/>
        </div>
        <div class="form-group">
            <label>City</label>
            <select class="form-control" name="cityName" required #city ngModel>
                <option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Postal Code</label>
            <input class="form-control" pattern="^[1-9][0-9]{4}$" type="text" name="postalcode" required #postalcode="ngModel" ngModel/>
            <div *ngIf="postalcode.errors &&(postalcode.dirty||postalcode.touched)" class="alert alert-danger">
                <div [hidden]="!postalcode.errors.pattern">
                    PostalCode must be have 5 digits.
                </div>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!userform.valid" class="btn btn-primary">Submit</button>
</form>